<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Stock</title>
</head>
<body>
    <h1>Add New Stock</h1>
    <form method="post">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" required><br>
        <label for="tickersymbol">Ticker Symbol:</label><br>
        <input type="text" id="tickersymbol" name="tickersymbol" required><br>
        <label for="exchange">Exchange:</label><br>
        <input type="text" id="exchange" name="exchange" placeholder="NYSE"><br><br>
        <input type="submit" value="Add Stock">
    </form>
    <a href="{{ url_for('index') }}">Back to Portfolio</a> | <a href="{{ url_for('index') }}">Home</a>
</body>
</html>
