<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Stock</title>
</head>
<body>
    <h1>Edit Stock</h1>
    <form method="post">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" value="{{ stock.name }}" required><br>
        <label for="tickersymbol">Ticker Symbol:</label><br>
        <input type="text" id="tickersymbol" name="tickersymbol" value="{{ stock.tickersymbol }}" required><br>
        <label for="exchange">Exchange:</label><br>
        <input type="text" id="exchange" name="exchange" value="{{ stock.exchange }}"><br>
        <label for="sector">Sector:</label><br>
        <input type="text" id="sector" name="sector" value="{{ stock.sector }}"><br><br>
        <label for="market">Market:</label><br>
        <input type="text" id="market" name="market" value="{{ stock.market }}"><br>
        <label for="currency">Currency:</label><br>
        <input type="text" id="currency" name="currency" value="{{ stock.currency }}"><br><br>
        <input type="submit" value="Update Stock">
    </form>
    <a href="{{ url_for('index') }}">Back to Portfolio</a> | <a href="{{ url_for('index') }}">Home</a>
</body>
</html>
