<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transactions</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        /* Modal styles */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        .modal-content {
            background-color: #fefefe;
            margin: 15% auto; /* 15% from the top and centered */
            padding: 20px;
            border: 1px solid #888;
            width: 80%; /* Could be more or less, depending on screen size */
            max-width: 500px;
            position: relative;
            display: flex; /* Added for centering children */
            flex-direction: column; /* Added for centering children */
            align-items: center; /* Added for centering children horizontally */
        }

        .close-button {
            color: #aaa;
            font-size: 28px;
            font-weight: bold;
            position: absolute;
            top: 5px;
            right: 10px;
            cursor: pointer;
            z-index: 1001;
        }

        .close-button:hover,
        .close-button:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

        #custom-alert {
            display: none;
            position: fixed;
            top: 20px;
            left: 50%;
            transform: translateX(-50%);
            background-color: #f8d7da;
            color: #721c24;
            padding: 15px;
            border: 1px solid #f5c6cb;
            border-radius: 5px;
            z-index: 1002; /* Ensure it's above other content */
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }
        .pagination {
            margin-top: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .pagination a, .pagination span {
            color: #007bff;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s;
            border: 1px solid #ddd;
            margin: 0 4px;
        }
        .pagination span.current {
            background-color: #007bff;
            color: white;
            border: 1px solid #007bff;
        }
        .pagination a:hover:not(.active) {
            background-color: #ddd;
        }
    </style>
</head>
<body>
    <div id="custom-alert"></div>
    <h1>Transactions</h1>
    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px;">
        <a href="{{ url_for('index') }}">
            <button style="background-color: #007bff; border: none; padding: 8px 12px; cursor: pointer; border-radius: 5px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
            </button>
        </a>
        <button onclick="openAddTransactionModal()" style="background-color: #007bff; color: white; border: none; padding: 8px 12px; border-radius: 5px; cursor: pointer; font-size: 16px;">+ Add Transaction</button>
    </div>
    <table>
        <tr>
            <th style="background-color: maroon; color: white;">Ticker Symbol</th>
            <th style="background-color: maroon; color: white;">Operation</th>
            <th style="background-color: maroon; color: white;">Quantity</th>
            <th style="background-color: maroon; color: white;">Date</th>
            <th style="background-color: maroon; color: white;">Price</th>
            <th style="background-color: maroon; color: white;">Total Value</th>
            <th style="width: 100px; background-color: maroon; color: white;">Actions</th>
        </tr>
        {% for transaction in transactions %}
        <tr>
            <td>{{ transaction.tickersymbol }}</td>
            <td>{{ transaction.operation }}</td>
            <td>{{ transaction.quantity }}</td>
            <td>{{ transaction.date }}</td>
            <td>
                {% if transaction.currency == 'INR' %}₹{% else %}${% endif %}
                {{ transaction.price|format_currency }}
            </td>
            <td>
                {% if transaction.currency == 'INR' %}
                    ₹{{ (transaction.quantity * transaction.price)|format_currency }}
                {% else %}
                    ${{ (transaction.quantity * transaction.price)|format_currency }}
                {% endif %}
            </td>
            <td style="width: 100px;">
                <a href="{{ url_for('edit_transaction', id=transaction.id) }}" style="background-color: #007bff; color: white; border: none; padding: 5px 10px; border-radius: 3px; cursor: pointer; text-decoration: none; margin-right: 5px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg>
                </a>
                <a href="{{ url_for('delete_transaction', id=transaction.id) }}" style="background-color: #dc3545; color: white; border: none; padding: 5px 10px; border-radius: 3px; cursor: pointer; text-decoration: none;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>

    <div class="pagination">
        {% if pagination.has_prev %}
            <a href="{{ url_for('transactions', page=pagination.prev_num) }}">&laquo; Previous</a>
        {% endif %}

        {% for page_num in pagination.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if page_num %}
                {% if pagination.page == page_num %}
                    <span class="current">{{ page_num }}</span>
                {% else %}
                    <a href="{{ url_for('transactions', page=page_num) }}">{{ page_num }}</a>
                {% endif %}
            {% else %}
                <span>...</span>
            {% endif %}
        {% endfor %}

        {% if pagination.has_next %}
            <a href="{{ url_for('transactions', page=pagination.next_num) }}">Next &raquo;</a>
        {% endif %}
    </div>

    <div id="addTransactionModal" class="modal">
        <div class="modal-content">
            <div style="display: flex; justify-content: space-between; align-items: center; background-color: maroon; padding: 10px; width: 100%;">
                <h2 style="color: white; text-align: center; margin: 0; flex-grow: 1;">Add New Transaction</h2>
                <span class="close-button" onclick="closeAddTransactionModal()" style="position: static; color: white; font-size: 28px; font-weight: bold; cursor: pointer;">&times;</span>
            </div>
            <form id="addTransactionForm" method="post" action="{{ url_for('add_transaction') }}">
                <div style="display: flex; align-items: center; margin-bottom: 10px; margin-top: 20px;">
                    <label for="market" style="margin-right: 10px; min-width: 120px;">Market:</label>
                    <select id="market" name="market" style="width: 150px;">
                        <option value="us_market" selected>US Market</option>
                        <option value="in_market">Indian Market</option>
                        <!-- Add other markets as needed -->
                    </select>
                    <input type="text" id="currency_display" name="currency" readonly style="margin-left: 10px; width: 50px; border: none; background: #eee;">
                </div>
                <div style="display: flex; align-items: center; margin-bottom: 10px; margin-top: 20px;">
                    <label for="tickersymbol" style="margin-right: 10px; min-width: 120px;">Stock Ticker:</label>
                    <input type="text" id="tickersymbol" name="tickersymbol" required autocomplete="off" style="width: 150px;" placeholder="Search Ticker Symbol">
                    <div id="ticker-suggestions" style="border: 1px solid #ddd; max-height: 150px; overflow-y: auto; display: none; position: absolute; background-color: white; z-index: 1000;"></div>
                </div>
                <div style="display: flex; align-items: center; margin-bottom: 10px;">
                    <label style="margin-right: 10px; min-width: 120px;">Transaction Type:</label>
                    <input type="radio" id="buy" name="operation" value="Buy" checked>
                    <label for="buy" style="margin-right: 10px;">Buy</label>
                    <input type="radio" id="sell" name="operation" value="Sell">
                    <label for="sell">Sell</label>
                </div>
                <div style="display: flex; align-items: center; margin-bottom: 10px;">
                    <label for="quantity" style="margin-right: 10px; min-width: 120px;">Quantity:</label>
                    <input type="number" id="quantity" name="quantity" required style="width: 150px;">
                </div>
                <div style="display: flex; align-items: center; margin-bottom: 10px;">
                    <label for="price" style="margin-right: 10px; min-width: 120px;">Price:</label>
                    <input type="number" step="0.01" id="price" name="price" required style="width: 150px;">
                </div>
                <div style="display: flex; flex-direction: column; align-items: center; width: 100%; max-width: 270px; margin-top: 5px; margin-bottom: 10px;">
                    <input type="range" id="priceSlider" min="0" max="100" step="0.01" value="0" style="width: 100%;">
                    <div style="display: flex; justify-content: space-between; width: 100%; margin-top: 5px;">
                        <span id="lowPriceDisplay" style="color: blue; font-size: 0.9em;"></span>
                        <span id="currentSliderValue" style="font-size: 0.9em; font-weight: bold;"></span>
                        <span id="highPriceDisplay" style="color: blue; font-size: 0.9em;"></span>
                    </div>
                </div>
                <div style="display: flex; align-items: center; margin-bottom: 20px;">
                    <label for="date" style="margin-right: 10px; min-width: 120px;">Date:</label>
                    <input type="date" id="date" name="date" required style="width: 150px;">
                </div>
                <input type="submit" value="Submit" style="background-color: #007bff; color: white; border: none; padding: 10px 20px; border-radius: 5px; cursor: pointer; margin: 0 auto; display: block;">
            </form>
        </div>
    </div>

    <script>
        // Get references to the elements
        const transactionTickerInput = document.getElementById('tickersymbol');
        const transactionDateInput = document.getElementById('date');
        const priceInput = document.getElementById('price'); // Get reference to the price input
        const priceSlider = document.getElementById('priceSlider'); // Get reference to the new slider
        const lowPriceDisplay = document.getElementById('lowPriceDisplay');
        const highPriceDisplay = document.getElementById('highPriceDisplay');
        const marketSelect = document.getElementById('market');
        const currentSliderValueDisplay = document.getElementById('currentSliderValue'); // New element for current slider value

        // Function to fetch and display historical prices
        function fetchHistoricalPrices() {
            const tickersymbol = transactionTickerInput.value;
            const date = transactionDateInput.value;

            if (tickersymbol && date) {
                fetch(`/get_historical_prices?tickersymbol=${tickersymbol}&date=${date}`)
                    .then(response => response.json())
                    .then(data => {
                        if (data.low !== undefined && data.high !== undefined && data.low !== null && data.high !== null) {
                            const low = parseFloat(data.low);
                            const high = parseFloat(data.high);

                            lowPriceDisplay.textContent = `${low.toFixed(2)}`;
                            highPriceDisplay.textContent = `${high.toFixed(2)}`;

                            // Set slider min, max, and initial value
                            priceSlider.min = low;
                            priceSlider.max = high;
                            priceSlider.step = 0.01; // Allow decimal steps

                            // Set initial slider value to the average or current price if available
                            let initialSliderValue = priceInput.value ? parseFloat(priceInput.value) : (low + high) / 2;
                            if (initialSliderValue < low || initialSliderValue > high) {
                                initialSliderValue = (low + high) / 2; // Ensure initial value is within range
                            }
                            priceSlider.value = initialSliderValue;
                            priceInput.value = initialSliderValue.toFixed(2); // Update price input
                            currentSliderValueDisplay.textContent = `${initialSliderValue.toFixed(2)}`; // Update current slider value display

                            priceSlider.style.display = 'block'; // Show the slider
                        } else {
                            lowPriceDisplay.textContent = 'N/A';
                            highPriceDisplay.textContent = 'N/A';
                            currentSliderValueDisplay.textContent = '';
                            priceSlider.style.display = 'none'; // Hide the slider if no data
                        }
                    })
                    .catch(error => {
                        console.error('Error fetching historical prices:', error);
                        lowPriceDisplay.textContent = 'Error';
                        highPriceDisplay.textContent = 'Error';
                        currentSliderValueDisplay.textContent = '';
                        priceSlider.style.display = 'none'; // Hide the slider on error
                    });
            } else {
                lowPriceDisplay.textContent = '';
                highPriceDisplay.textContent = '';
                currentSliderValueDisplay.textContent = '';
                priceSlider.style.display = 'none'; // Hide the slider if no ticker/date
            }
        }

        // Event listener for slider input
        priceSlider.addEventListener('input', function() {
            priceInput.value = parseFloat(this.value).toFixed(2);
            currentSliderValueDisplay.textContent = `${parseFloat(this.value).toFixed(2)}`;
        });

        // Event listener for direct price input changes (to update slider)
        priceInput.addEventListener('input', function() {
            const val = parseFloat(this.value);
            if (!isNaN(val) && val >= parseFloat(priceSlider.min) && val <= parseFloat(priceSlider.max)) {
                priceSlider.value = val;
                currentSliderValueDisplay.textContent = `${val.toFixed(2)}`;
            } else {
                currentSliderValueDisplay.textContent = ''; // Clear if invalid
            }
        });

        // Add event listeners to ticker and date inputs
        transactionTickerInput.addEventListener('change', fetchHistoricalPrices);
        transactionDateInput.addEventListener('change', fetchHistoricalPrices);
        transactionTickerInput.addEventListener('input', fetchHistoricalPrices); // For immediate feedback

        // Function to open the modal
        function openAddTransactionModal() {
            var modal = document.getElementById("addTransactionModal");
            modal.style.display = "block";
        }

        // Function to close the modal
        function closeAddTransactionModal() {
            var modal = document.getElementById("addTransactionModal");
            modal.style.display = "none";
        }

        // Close the modal if the user clicks outside of it
        window.onclick = function(event) {
            var modal = document.getElementById("addTransactionModal");
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

        // Ticker search functionality
        const tickerInput = document.getElementById('tickersymbol');
        const tickerSuggestions = document.getElementById('ticker-suggestions');
        let debounceTimer;

        tickerInput.addEventListener('input', function() {
            clearTimeout(debounceTimer);
            const query = this.value;
            if (query.length < 1) { // Start searching after 1 character
                tickerSuggestions.style.display = 'none';
                return;
            }

            const selectedMarket = marketSelect.value;

            debounceTimer = setTimeout(() => {
                fetch(`/search_tickers?q=${query}&market=${selectedMarket}`)
                    .then(response => response.json())
                    .then(data => {
                        tickerSuggestions.innerHTML = '';
                        if (data.length > 0) {
                            data.forEach(stock => {
                                const div = document.createElement('div');
                                div.textContent = `${stock.tickersymbol} - ${stock.name}`;
                                div.style.padding = '8px';
                                div.style.cursor = 'pointer';
                                div.onmouseover = function() { this.style.backgroundColor = '#f0f0f0'; };
                                div.onmouseout = function() { this.style.backgroundColor = 'white'; };
                                div.onclick = function() {
                                    tickerInput.value = stock.tickersymbol;
                                    tickerSuggestions.style.display = 'none';
                                };
                                tickerSuggestions.appendChild(div);
                            });
                            tickerSuggestions.style.display = 'block';
                        } else {
                            tickerSuggestions.style.display = 'none';
                        }
                    });
            }, 300); // Debounce for 300ms
        });

        // Market and Currency logic
        const currencyDisplay = document.getElementById('currency_display');
        const marketCurrencies = {
            'us_market': 'USD',
            'in_market': 'INR'
            // Add other mappings here
        };

        function updateCurrency() {
            const selectedMarket = marketSelect.value;
            currencyDisplay.value = marketCurrencies[selectedMarket] || '';
            tickerInput.value = ''; // Clear ticker input when market changes
            tickerSuggestions.style.display = 'none';
        }
        marketSelect.addEventListener('change', updateCurrency);

        // Hide suggestions when clicking outside
        document.addEventListener('click', function(event) {
            if (!tickerInput.contains(event.target) && !tickerSuggestions.contains(event.target)) {
                tickerSuggestions.style.display = 'none';
            }
        });

        // Automatically open modal if URL parameter is present
        function showCustomAlert(message) {
            const alertBox = document.getElementById('custom-alert');
            alertBox.textContent = message;
            alertBox.style.display = 'block';

            setTimeout(() => {
                alertBox.style.display = 'none';
            }, 5000); // Hide after 5 seconds
        }

        document.addEventListener('DOMContentLoaded', function() {
            updateCurrency(); // Set initial currency on page load
            const urlParams = new URLSearchParams(window.location.search);
            if (urlParams.get('open_modal') === 'true') {
                const ticker = urlParams.get('ticker');
                if (ticker) {
                    document.getElementById('tickersymbol').value = ticker;
                }
                openAddTransactionModal();
                fetchHistoricalPrices(); // Fetch prices for the pre-filled ticker
            }

            const addTransactionForm = document.getElementById('addTransactionForm');
            addTransactionForm.addEventListener('submit', function(event) {
                event.preventDefault(); // Prevent the default form submission

                const formData = new FormData(addTransactionForm);
                const action = addTransactionForm.action;

                fetch(action, {
                    method: 'POST',
                    body: formData
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        // On success, redirect to the portfolio page
                        window.location.href = data.redirect_url;
                    } else {
                        // This 'else' block handles non-OK responses that are still JSON
                        throw new Error(data.error || 'An unknown error occurred.');
                    }
                })
                .catch(error => {
                    showCustomAlert(error.message); // Display the error message in a custom pop-up
                });
            });
        });
    </script>
</body>
</html>